*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    border: 0.1px solid rgba(236, 0, 0, 0);
    justify-content: space-between;
    padding: 10px 20px;
}
.headerbar{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    
}
.headerbar li a{
    text-decoration: none;
    color: #494949;
    transition: 0.5s;
}
.headerbar li a:hover{
    text-decoration: underline rgba(0, 0, 255, 0.671) 3px;
    color: black;
    font-weight: 900;
    font-size: 18px;
}